$color-primary: #F9804B;
$color-secondary: #4B9200;
$color-mistake: #D31414;
$colored-title: #FE9013;

$color-highlighted-text: #FFEE2E;
$color-text: #333B41;
$color-big_p: #ABABAB;
$color-testimonials: #767474;
$color-testimonial-day: #BDBDBD;
$color-button-text: #FFFFFF;
$color-header: #000000;
$color-map: #EAF7FE;
$background-main-gradient: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%),
linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);

$content-width: 1160px;
$content-block-width: 976px;
