$color-primary: #F9804B;
$color-secondary: #4B9200;
$color-mistake: #D31414;
$colored-title: #FE9013;

$color-highlighted-text: #FFEE2E;
$color-text: #333B41;
$color-testimonials: #767474;
$color-testimonial-day: #BDBDBD;
$color-button-text: #FFFFFF;
$color-header: #000000;
$color-map: #EAF7FE;

$content-width: 1160px;
