@mixin font ($size, $height: $size, $weight: normal, $style: normal) {
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
}

@mixin background-image ($url, $repeat: no-repeat, $position: center) {
  background-image: url($url);
  background-repeat: $repeat;
  background-position: $position;
}

