.footer{
  background: #111115;
  padding-top:40px ;
  padding-bottom: 50px;
}
.footer-wrapper{
  display: flex;
  justify-content: space-between;
  .footer__left-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.footer__button{
  margin-top: 68px;
  margin-bottom: 44px;
}
.footer__socials{
  li{
    flex-direction: row;
    padding-bottom: 10px;
  }
  .icon-wrapper{
    background: rgba(196, 196, 196, 0.5);
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  .link{
    display: flex;
    color: $color-button-text;
    align-items: center;
    padding-left: 10px;
    @extend %transition;
  }
  :last-child{
    padding-bottom: 0;
  }
}
.footer__link{
  &:hover{
    color:$color-primary ;
  }
}
.footer__navigation{
  align-self: flex-end;
  .navigation__links {
    display: flex;
    justify-content: space-between;
    li {
      padding-left: 58px;
    }
    :first-child {
      padding-left: 0;
    }
  }
}

.footer__right-side{
  display: flex;
  flex-direction: column;
  .subtitle{
    color: $color-button-text;
    margin-bottom: 14px;
  }
}


.footer__copyrights {
  align-self: flex-end;
  padding-top: 60%;
  color: #fff;
}

.footer-donate {
  padding-top: 276px;
  padding-bottom: 60px;
  text-align: center;
}