.header{
  background: $color-header;
  padding: 14px 0;
}

.header__wrapper{
  display: flex;
}

.top__wrapper{
  background: no-repeat url("../img/background/main-top-bckgr.png") ;
  background-size: cover;
}