@charset "UTF-8";
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul, p {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Verdana, sans-serif;
}

.navigation__link, .footer__socials .link {
  transition: all 0.3s ease-out;
}

.button {
  position: relative;
  z-index: 100;
}
.button:before {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 25px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -100;
  transition: opacity 1s;
}
.button:hover:before {
  background: #4B9200;
  opacity: 1;
}

.arrow {
  position: relative;
  z-index: 100;
}
.arrow:before {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -100;
  transition: opacity 1s;
}
.arrow:hover:before {
  background: #4B9200;
  opacity: 1;
}

.squared {
  position: relative;
  z-index: 100;
}
.squared:before {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -100;
  transition: opacity 1s;
}
.squared:hover:before {
  background: #4B9200;
  opacity: 1;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.2rem;
}

.hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

h2 {
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5.8rem;
  margin: 0;
}

.promo-cover__title {
  font-size: 10.65rem;
  font-style: normal;
  font-weight: 700;
  line-height: 8rem;
}

h3 {
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.7rem;
}

h4 {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem;
}

.subtitle {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.9rem;
}

.small-p {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.8rem;
}

.bold {
  font-weight: 500;
}

.underscore {
  text-decoration: underline;
  text-decoration-color: #FE9013;
  color: #333B41;
}
.underscore:active {
  color: #333B41;
}

a {
  text-decoration: none;
}

.logo {
  width: 82px;
  height: 52px;
  background: url(../img/icons/logo_footer.png);
}

.header__logo {
  margin-right: 5.5%;
}

.button {
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 25px;
  border: 0px;
}

.arrow {
  width: 64px;
  height: 64px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 50%;
  border: 0px;
}

.squared {
  border-radius: 5px;
}

.animal-slider__slide {
  display: flex;
  flex-direction: column;
  text-align: start;
  border: 1px solid #FE9013;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: all 1.1s ease-in-out;
  overflow: hidden;
}
.animal-slider__slide h4 {
  text-transform: uppercase;
  margin: 0;
}
.animal-slider__slide .vegetable-slide {
  background-image: url("../img/icons/banana-bamboo_icon.svg");
  background-repeat: no-repeat;
  background-position: 97% 50%;
}
.animal-slider__slide .carnivore-slide {
  background-image: url("../img/icons/meet-fish_icon.svg");
  background-repeat: no-repeat;
  background-position: 97% 50%;
}
.animal-slider__slide .slide-description {
  padding: 8px 56px 8px 16px;
}
.animal-slider__slide img {
  opacity: 1;
}
.animal-slider__slide:hover {
  box-shadow: rgba(0, 0, 0, 0.6) 100vh 100vh 100vh 100vh inset;
  transition: all 1.1s ease-in-out;
}
.animal-slider__slide:hover img {
  position: relative;
  z-index: -1;
  transform: scale(110%);
  transition: all 1.1s ease-in-out;
}
.animal-slider__slide:hover .slide-animal {
  color: #FFFFFF;
  font-size: 3.2rem;
  transform: translateY(-15vh);
  transition: all 1.1s ease-in-out;
}
.animal-slider__slide:hover p {
  color: #FFFFFF;
  font-size: 2rem;
  transform: translateY(-14vh);
  transition: all 1.1s ease-in-out;
}
.animal-slider__slide img, .animal-slider__slide .slide-animal, .animal-slider__slide p {
  transition: all 1.1s ease-in-out;
}

.subscription__submit-form .submit-email {
  background: transparent;
  width: 228px;
  height: 42px;
  color: #BDBDBD;
  border: 1px solid #FE9013;
  border-radius: 3px;
  padding-left: 10px;
}
.subscription__submit-form .submit-button {
  height: 42px;
  width: 129px;
  border-radius: 5px;
  background: #fff;
  text-transform: initial;
}
.subscription__submit-form .submit-email:valid ~ .submit-button {
  border: 1px solid #4B9200;
  color: #4B9200;
}
.subscription__submit-form .submit-email:invalid ~ .submit-button {
  color: #D31414;
  border: 1px solid #D31414;
}

.map__places-name {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.8rem;
  position: absolute;
  z-index: -99;
}

.map-wrapper .name-1 {
  top: 47%;
  left: 13.5%;
}
.map-wrapper .name-2 {
  top: 52.5%;
  left: 14.5%;
}
.map-wrapper .name-3 {
  top: 55.5%;
  left: 25%;
}
.map-wrapper .name-4 {
  bottom: 30%;
  left: 52%;
}
.map-wrapper .name-5 {
  bottom: 45.5%;
  right: 25%;
}

.map__places-point {
  position: absolute;
  z-index: -100;
}
.map__places-point:hover {
  filter: invert(53%) sepia(96%) saturate(835%) hue-rotate(351deg) brightness(103%) contrast(99%);
}

.map-wrapper .point-1 {
  top: 50%;
  left: 12.5%;
}
.map-wrapper .point-2 {
  top: 53%;
  left: 23.3%;
}
.map-wrapper .point-3 {
  bottom: 30%;
  left: 50.3%;
}
.map-wrapper .point-4 {
  bottom: 42%;
  right: 19.3%;
}
.map-wrapper .point-5 {
  bottom: 48.5%;
  right: 18.5%;
}

.header {
  background: #000000;
  padding: 14px 0;
}

.header__wrapper {
  display: flex;
}

.top__wrapper {
  background: no-repeat url("../img/background/main-top-bckgr.png");
  background-size: cover;
}

.wrapper {
  max-width: 1160px;
  margin: auto;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-3-column > * {
  flex-basis: 30%;
  height: fit-content;
}

.layout-4-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.layout-4-row .piece {
  flex-basis: 23%;
}

.footer {
  background: #111115;
  padding-top: 40px;
  padding-bottom: 50px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}
.footer-wrapper .footer__left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__button {
  margin-top: 68px;
  margin-bottom: 44px;
}

.footer__socials li {
  flex-direction: row;
  padding-bottom: 10px;
}
.footer__socials .icon-wrapper {
  background: rgba(196, 196, 196, 0.5);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.footer__socials .link {
  display: flex;
  color: #FFFFFF;
  align-items: center;
  padding-left: 10px;
}
.footer__socials :last-child {
  padding-bottom: 0;
}

.footer__link:hover {
  color: #F9804B;
}

.footer__navigation {
  align-self: flex-end;
}
.footer__navigation .navigation__links {
  display: flex;
  justify-content: space-between;
}
.footer__navigation .navigation__links li {
  padding-left: 58px;
}
.footer__navigation .navigation__links :first-child {
  padding-left: 0;
}

.footer__right-side {
  display: flex;
  flex-direction: column;
}
.footer__right-side .subtitle {
  color: #FFFFFF;
  margin-bottom: 14px;
}

.footer__copyrights {
  align-self: flex-end;
  padding-top: 60%;
  color: #fff;
}

.header__navigation {
  width: 45%;
  align-self: center;
}

.navigation__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__links .active {
  color: #F9804B;
}

.navigation__link {
  color: #FFFFFF;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem;
}
.navigation__link:hover {
  color: #F9804B;
}

.promo-cover {
  padding: 12px 0 100px 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.promo-cover__title {
  width: 43%;
  z-index: 0;
  padding: 74px 12px 60px;
  align-self: flex-end;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  cursor: default;
  margin: 0;
}
.promo-cover__title .colored {
  color: #FFEE2E;
}

.promo-cover__back-circle {
  position: absolute;
  right: 9%;
  width: 465px;
  height: 465px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.cover-title__button {
  align-self: flex-end;
  margin-right: 9%;
}

.backstage {
  padding: 140px 0 180px;
  background: url(../img/background/bckgr_flower1.png) no-repeat;
  background-position: right 10%;
}

.backstage__wrapper {
  display: flex;
  justify-content: space-between;
}

.backstage__img {
  padding-right: 87px;
}

.backstage__description {
  display: flex;
  flex-direction: column;
  color: #333B41;
}

.backstage__title {
  margin: 0 0 20px;
}

.description__title {
  margin: 52px 0 32px;
}

.animal-slider {
  padding-bottom: 100px;
  text-align: center;
  background: url(../img/background/bckgr_flower2.png), url(../img/background/bckgr_flower3.png);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom right, bottom left;
}

.animal-slider__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1322px;
  margin: auto;
}
.animal-slider__wrapper .left {
  transform: rotate(180deg);
}

.animal-slider__button {
  margin-top: 70px;
}

.feed-a-friend {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  padding-top: 69px;
  padding-bottom: 100px;
}

.feed-a-friend__wrapper {
  background: rgba(253, 253, 255, 0.52);
  border-radius: 20px;
  padding: 41px 100px 59px;
  color: #333B41;
  text-align: center;
}

.feed-a-friend__description {
  text-align: start;
}
.feed-a-friend__description .subtitle {
  margin-bottom: 40px;
}
.feed-a-friend__description .text {
  margin-top: 10px;
}

.feed-a-friend__title {
  color: #FE9013;
  text-align: center;
}

.feed-a-friend__scheme {
  padding: 0 98px;
}

.scheme__title {
  text-align: center;
}

.scheme-wrapper {
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.scheme-wrapper .scheme__arrow {
  align-self: center;
  padding: 50px 0 100px;
}

.scheme__card {
  flex-basis: 22%;
  text-align: start;
}
.scheme__card .card__picture {
  background: #fff;
  height: 168px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 1px solid #FE9013;
}

.feed-a-friend__button {
  align-self: center;
}

.testimonials {
  padding: 140px 0 180px;
  background: url(../img/background/leav_foto.png) no-repeat;
  background-position-y: 125%;
  background-position-x: right;
}
.testimonials .title {
  text-align: center;
  color: #333B41;
  margin: 0 auto 47px;
}

.testimonials__carousel {
  padding-bottom: 21px;
}

.testimonial {
  border-radius: 20px;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial .testimonial-wrapper {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: calc(100% - 4px);
  height: calc(100% - 3px);
  border-radius: 18px;
}

.testimonial__person {
  display: flex;
  margin-top: 15px;
}
.testimonial__person .person__avatar {
  width: 37px;
  height: 37px;
  margin: 0 10px 0 16px;
}
.testimonial__person .person__name {
  margin: 0;
}

.person__info ul {
  display: flex;
}
.person__info ul li {
  color: #BDBDBD;
}
.person__info .person__day::before {
  padding: 0 5px 0 6px;
  content: "•";
}

.testimonial__text {
  color: #767474;
  padding: 10px 15px 0 16px;
  margin-bottom: 19px;
  max-height: 301px;
  overflow: hidden;
}

.testimonials__carousel_controller {
  width: 45%;
  height: 8px;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  margin: 0 auto 31px;
}
.testimonials__carousel_controller .controller-joystick {
  width: 30%;
  height: 6px;
  background-color: #FE9013;
  border-radius: 5px;
}
.testimonials__carousel_controller .controller-joystick:hover {
  background-color: #4B9200;
  transition: all 0.5s;
}

.map {
  background-color: #EAF7FE;
  height: 938px;
  padding: 100px 0 120px 0;
}

.map-wrapper {
  max-width: 1085px;
  margin: auto;
  position: relative;
  z-index: 0;
  height: 100%;
  background-image: url(../img/background/map.png);
  background-repeat: no-repeat;
  background-size: contain;
}

/*# sourceMappingURL=style.css.map */
