.feed-a-friend{
  background: $background-main-gradient;
  opacity: 0.9;
  padding-top: 69px;
  padding-bottom: 100px;
}

.feed-a-friend__wrapper{
  background: rgba(253, 253, 255, 0.52);
  border-radius: 20px;
  padding: 41px 100px 59px;
  color: $color-text;
  text-align: center;
}
.feed-a-friend__description{
  text-align: start;
  .subtitle{
    margin-bottom: 40px;
  }
  .text{
    margin-top: 10px;
  }
}
.feed-a-friend__title{
  color:$colored-title;
  text-align: center;
}
.feed-a-friend__scheme{
  padding: 0 98px;
}
.scheme__title{
  text-align: center;
}
.scheme-wrapper{
  margin: auto;
  display: flex;
  justify-content: space-between;
  .scheme__arrow{
    align-self: center;
    padding: 50px 0 100px;
  }
  margin-bottom: 60px;
}
.scheme__card{
  flex-basis: 22%;
  text-align: start;
  .card__picture{
    background: #fff;
    height: 168px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid $colored-title;
  }
}

.feed-a-friend__button{
  align-self: center;
}