.button {
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  @include font($size: 1.6rem, $height: 2.2rem, $weight: 500);
  color:$color-button-text;
  text-transform: uppercase;
  border-radius: 25px;
  border: 0px;
  @extend %button-gradient-transition
}

.arrow{
    width: 64px;
    height: 64px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
    border: 0px;
    @extend %arrow-gradient-transition
}

.squared{
  border-radius: 5px;
  @extend %squared-gradient-transition;
}

.pop-up-button{
  margin-top: 15px;
  background: #F1F3F2;
  border-radius: 5px;
  color: $color-secondary;
  border: none;
  padding: 4px 10px;
  @extend %transition;
  &:hover{
    color: $colored-title;
  }
}

.button-map{
  background: #FFFFFF;
  border-radius: 5px;
  border: 2px solid rgba($color: $color-text, $alpha: 0.0);
  width: 54px;
  height: 54px;
  @extend %transition;
  &:hover{
    border: 2px solid rgba($color: $color-text, $alpha: 1.0);
  }
}