//names
.map__places-name {
  @include font($size: 1.5rem, $height: 1.8rem);
  position: absolute;
  z-index: -99;
}

.map-wrapper{
  .name-1{
    top: 47%;
    left: 13.5%;
  }
  .name-2{
    top: 52.5%;
    left: 14.5%;
  }
  .name-3{
    top: 55.5%;
    left: 25%;
  }
  .name-4{
    bottom: 30%;
    left: 52%;
  }
  .name-5{
    bottom: 45.5%;
    right: 25%;
  }
}
//points
.map__places-point {
  background-image: url(../img/icons/map-point.svg);
  background-repeat: no-repeat;
  width: 26px;
  height: 33px;
  position: absolute;
  z-index: -100;
  cursor: pointer;
  @extend %transition;
  &:hover{
    background-image: url(../img/icons/map-point-hovered.svg);
  }
}
.map-wrapper{
  .point-1{
    top: 49%;
    left: 12.5%;
  }
  .point-2{
    top: 52%;
    left: 23.3%;
  }
  .point-3{
    bottom: 31%;
    left: 50.3%;
  }
  .point-4{
    bottom: 43%;
    right: 19.3%;
  }
  .point-5{
    bottom: 49.5%;
    right: 18.5%;
  }
}
//animal-icons
.map__animal-icon{
  background-repeat: no-repeat;
  position: absolute;
  img {
    cursor: pointer;
    &:hover~.animal-icon__description {
      display: flex;
    }
  }
  
}
.animal-icon__description {
  display: none;
  background-image: url(../img/map/pop_up.svg);
  width: 160px;
  height: 117px;
  z-index: 2;
  flex-direction: column;
  padding: 16px 10px 11px;
  position: absolute;
  top: 100%;
  right: -170%;
}
.map-wrapper {
  .icon-1{
    top: 49%;
    left: 8.5%;
  }
  .icon-2 {
    top: 56%;
    left: 12.5%;
  }
  .icon-3 {
    top: 58%;
    left: 22.5%;
    .animal-icon__description{
      right: -100%;
    }
  }
  .icon-4 {
    bottom: 24%;
    left: 50.5%;
  }
  .icon-5 {
    top: 45%;
    right: 20.7%;
    .animal-icon__description {
      left: -100%;
    }
  }
  .icon-6 {
    top: 54%;
    right: 21%;
  }
}
//chains
.map-wrapper{
  .icon-1:hover~.point-1 {
    background-image: url(../img/icons/map-point-hovered.svg);
  }
  .icon-2:hover~.point-1 {
    background-image: url(../img/icons/map-point-hovered.svg);
  }
  .icon-3:hover~.point-2 {
    background-image: url(../img/icons/map-point-hovered.svg);
  }
  .icon-4:hover~.point-3 {
    background-image: url(../img/icons/map-point-hovered.svg);
  }
  .icon-5:hover~.point-5 {
    background-image: url(../img/icons/map-point-hovered.svg);
  }
  .icon-6:hover~.point-4 {
    background-image: url(../img/icons/map-point-hovered.svg);
  }
}