//names
.map__places-name {
  @include font($size: 1.5rem, $height: 1.8rem);
  position: absolute;
  z-index: -99;
}

.map-wrapper{
  .name-1{
    top: 47%;
    left: 13.5%;
  }
  .name-2{
    top: 52.5%;
    left: 14.5%;
  }
  .name-3{
    top: 55.5%;
    left: 25%;
  }
  .name-4{
    bottom: 30%;
    left: 52%;
  }
  .name-5{
    bottom: 45.5%;
    right: 25%;
  }
}
//points
.map__places-point {
  background-image: url(../img/icons/map-point.svg);
  background-repeat: no-repeat;
  width: 26px;
  height: 33px;
  position: absolute;
  z-index: -100;
  cursor: pointer;
  @extend %transition;
  &:hover{
    background-image: url(../img/icons/map-point-hovered.svg);
    
  }
}
.map-wrapper{
  .point-1{
    top: 49%;
    left: 12.5%;
  }
  .point-2{
    top: 52%;
    left: 23.3%;
  }
  .point-3{
    bottom: 31%;
    left: 50.3%;
  }
  .point-4{
    bottom: 43%;
    right: 19.3%;
  }
  .point-5{
    bottom: 49.5%;
    right: 18.5%;
  }
}
//animal-icons
.map__animal-icon{
  .icon-1{
    background-image: url(../img/map/eagle1.png);
  }
}
