.subscription__submit-form {
  .submit-email {
    background: transparent;
    width: 228px;
    height: 42px;
    color: $color-testimonial-day;
    border: 1px solid $colored-title;
    border-radius: 3px;
    padding-left: 10px;
  }

  .submit-button {
    height: 42px;
    width: 129px;
    border-radius: 5px;
    background: #fff;
    text-transform: initial;
  }
  .submit-email{
    &:valid~.submit-button {
      border: 1px solid $color-secondary;
      color: $color-secondary;
    }
    &:invalid~.submit-button {
      color: $color-mistake;
      border: 1px solid $color-mistake;
    }
  }
}

